.home {
    text-align: left;
    margin: 10px;
    padding: 40px;
    background-color: #eef2f4;
}

.socialsGroup {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
}

.submitButton strong {
    margin-right: 10px;
}

.title,
.home label {
    font-weight: bold !important;
}

.phoneInput {
    padding: 8px;
    border: #d9d9d9 1px solid;
}

.ant-slider .ant-slider-track {
    background-color: #7a5cfa;
}

.internetSlider .ant-slider .ant-slider-track {
    background-color: black;
}

.ant-slider .ant-slider-handle:focus::after,
.ant-slider .ant-slider-handle:hover::after,
.ant-slider .ant-slider-handle::after {
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 2px #eef2f4 !important;
    background-color: #7a5cfa;
    top: -4px;
    left: -4px;
}

.ant-slider-horizontal .ant-slider-mark {
    top: 20px !important;
}

.internetSlider .ant-slider .ant-slider-handle:focus::after,
.internetSlider .ant-slider .ant-slider-handle:hover::after,
.internetSlider .ant-slider .ant-slider-handle::after {
    background-color: black;
}

.ant-checkbox-wrapper {
    margin-right: 8px;
}